*{
    margin: 0;
    padding: 0;
}
html{
    background-color: rgba(147, 147, 146, 0.087);
}
.img{
    /* background-color: red; */
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 0 2px 1px ;
    width: 350px;
    margin: 50px 70px;
}
.filter{
    /* content: ""; */
    background-color: rgb(105, 105, 105);
    color: white;
    height: 30px;
    text-align: center;
    max-width: 100px;
    margin-left: calc(50vw - 50px);
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    cursor: pointer;
    /* width: 30px; */

}
.apply-filter{
    /* content: ""; */
    position: relative;
    background-color: rgb(105, 105, 105);
    color: white;
    height: 30px;
    text-align: center;
    max-width: 100px;
    top: 140px;
    margin-left:550px;
    margin-top:0px;
    margin-bottom: 50px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    cursor: pointer;
    /* width: 30px; */

}
.flexx{
    display: flex;
}
.flex-by{
    display: flex;
    margin-top: 40px;
    padding: 10px 20px;
    width: 400px;
    display: none;
}
.look{
    padding-left: 10px ;
    padding-right: 10px;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.059);
    height: 30px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.18);
    animation: 1s;
}
/* for checkbox  */
input{
    height: 15px;
    width: 20px;
}
/* for area */
.for-area{
    display: none;
    left: 52%;
    position: relative;
    width: 250px;
    margin-top: -30px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    border: none;
    background-color: rgba(126, 114, 114, 0.103);
}
.active1{
    display: block;
}
#area{
    margin: 10px 20px;
}
/* for location */

.for-location{
    display: none;
    left: 43%;
    position: relative;
    width: 800px;
    padding: 10px;
    margin-top: -30px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    border: none;
    background-color: rgba(126, 114, 114, 0.103);
}
.gap{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
#location{
  margin: 10px 5px;
}
/* for price */
.for-price{
    display: none;
    left: 65.5%;
    position: relative;
    width: 200px;
    margin-top: -30px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    border: none;
    background-color: rgba(126, 114, 114, 0.103);
}
#price{
    margin: 10px 15px;
  }

  /* FOR BHK */

  .for-bhk{
    display: none;
    left: 71.5%;
    position: relative;
    width: 150px;
    margin-top: -30px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    border: none;
    background-color: rgba(126, 114, 114, 0.103);
}
#bhk{
    margin: 10px 15px;
  }

.active{
    display: flex;
}
.active2{
    display: block;
}
.active3{
    display: none;
}
.area-wise{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.bhk-wise{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.flex{
    display: flex;
    background-color: azure;
    border: 1px  solid rgba(82, 81, 81, 0.457);
    border-radius: 10px;
    margin: 30px 150px;
}
.property-name{
    font-size: 45px;
    padding: 20px 40px;
}
.details{
    border: 1px  solid rgba(82, 81, 81, 0.112);
    border-radius: 10px;
    margin: 20px -30px;
    width: 60%;
}
.see-details{
    margin-top: -40px;
}
.btn1{
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    margin: 15px 40px;
}
.flex2{
    display: flex;
}
.more-details{
    margin-left: 0px;
    font-size: 20px;
    padding-top:10px;
    display: flex;
}

.btn2{
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.553);
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    position: relative;
    left:550px;
    top: 130px;
}
.btn2:hover{
    background-color: rgb(100, 100, 100);
}
.pad{
    padding-left: 30px ;
}
.data{
    margin-left: 15px;
    margin-top: 35px;
}